body {
    font-family: 'Kalam', cursive;
}

td {
    height: 150px;
    width: 150px;
    font-size: 100px;
    border: 10px solid black;
}

table {
    margin: auto;
    text-align: center;
}

#c00 {
    border-left: 5px solid white;
    border-top: 5px solid white;
}

#c01 {
    border-top: 5px solid white;
}

#c02 {
    border-right: 5px solid white;
    border-top: 5px solid white;
}

#c10 {
    border-left: 5px solid white;
}

#c12 {
    border-right: 5px solid white;
}

#c20 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#c21 {
    border-bottom: 5px solid white;
}

#c22 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.jumbotron {
    text-align: center;
    padding: 2em;
}

#r {
    color: red;
}

#b {
    color: blue;
}

#purple {
    color: #b12aff;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

a {
    font-size: 1.3em;
}

p {
    font-size: 2em;
}

.alert {
    font-size: 1.8em;
}
